.delicates-slider{

	margin-bottom:6rem;
	.slick-slide{
		position:relative;
		margin:1rem;
/* 		img{
			display: none;
		} */
	}
	.slick-prev, .slick-next{
		position:absolute;
		width: 3.5rem;
		height: 3.5rem;
		top:50%;
		cursor: pointer;
		display: none !important;
		@include breakpoint(moblet){
			display: block !important;
		}
	}
	.slick-prev{
		left:-2rem;
	}
	.slick-next{
		right:-2rem;
	}

	.slick-dots{
		position: absolute;
		bottom: -45px;
		display: block;
		width: 100%;
		padding: 0;
		list-style: none;
		text-align: center;
		li{
			position: relative;
			display: inline-block;
			width: 20px;
			height: 20px;
			margin: 0 10px;
			padding: 0;
			cursor: pointer;
			  button{
				font-size: 0;
				line-height: 0;
				display: block;
				width: 20px;
				height: 20px;
				padding: 5px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: transparent;
					&:before{
						/* font-family: 'slick'; */
						font-size: 72px;
						line-height: 20px;
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						content: '•';
						text-align: center;
						color: $black;
						@include transition(color 0.5s);
						}
			  	}
  		}
  		li.slick-active{
  			button{
  				&:before{
					color:#e99d3b;
  				}
  			}
  		}
	}
}
.delicates-slide{
/* 	height:40rem;
			@include breakpoint(tablet){
			height: auto;
		} */
	.delicates-slide-img{
		width: 100%;
		@extend .left;
		height: 50%;
		position:relative;
		@include breakpoint(tablet){
			width: 70%;
			height: 100%;
		}
		img{
			@extend .visuallyhidden;
			/* height: 20rem; */
		}
	}
	aside{
		width: 100%;
		@extend .right;
		/* background:$black; */
		height: 50%;
		color:$white;
		padding: 2rem;
		position: relative;
		right:1px;
		font-family: $danielreg;
		text-align: center;
		letter-spacing: 0.5px;
/* 		top: 50%; */

		@include breakpoint(tablet){
			width: 30%;
			height: 100%;
			position:absolute;
	/* 		top:0; */
		}

		h4{
			margin:1rem 0;
			font-size: 120%;
			font-family: $danielbld;
		}
		p{
			a{
				color:#e99d3b;
				&:hover{
					opacity: 0.7;
				}
			}
		}
		h5{
			margin:1rem 0;
		}
	}
}
.delicatesrol-bemutatkozas{
	margin-top: 5rem !important;
	@include breakpoint(tablet){
		padding:0 3rem;
	}
}
/* BOLT */


.bolt-acco-container{
	position:relative;
	overflow:hidden;
	width: 90%;
	margin: 0 auto;
	@include breakpoint(moblet){
		width: 60%;
	}
	@include breakpoint(tabtop){
		width: 30%;
		margin: 0;
		float: left;
	}
	@include breakpoint(tablet){
		width: 100%;
		float:none;
	}
}
.ihato.bolt-acco-container{
	@include breakpoint(tabtop){
		margin: 0 5%;
	}
	@include breakpoint(tablet){
		margin:0;
	}

}
.bolt-acco-illustration{
	width: 100%;
	height:12rem;
	margin-bottom:1rem;
	svg{
		height: 100%;
		width: 100%;
	}
}

.bolt-acco{
	@include perspective(400px);
	font-family:$danielbld;
	margin-bottom: 2rem;
	li{
		cursor:pointer;
	}
	>li{
		height:2.5rem;
		line-height: 3rem;
		padding:0 1rem;
		width:97.5%;
		margin:-3px 1.25%;
		/* box-shadow: 0 0 30px -17px $black; */
		/* border-right: 2px solid rgba(0,0,0,0.3); */
		text-align: center;
		letter-spacing: 3px;
		font-size: 90%;
/* 		z-index: 1; */
		position: relative;
		/* border:1px solid aqua; */
		&:first-of-type{

		}
	}
	>ul{
		z-index: -1;
		position: relative;
		margin-bottom: -5px;
		margin-top: -5px;
		li{
			height:1.5rem;
			line-height: 2rem;
			padding:0 1rem;
			width:94%;
			margin:-3px 3%;
			text-align: center;
			letter-spacing: 2px;
			font-size:75%;
		}
	}
	>ul{
		&:nth-of-type(even){
			li{
				width:98%;
				margin:-3px 1%;
			}
		}
	}
}
.eheto .bolt-acco-active{
	color:#e05a25;
	text-shadow:0 1px #fff;
}
.ihato .bolt-acco-active{
	color:#795f86;
	text-shadow:0 1px #fff;
}
.nemeheto .bolt-acco-active{
	color:#186c9b;
	text-shadow:0 1px #fff;
}

.bolt-acco-head{
	color:$white;
	/* background:#e05a25; */
	height:2.5rem;
	line-height: 3rem;
	text-align: center;
	letter-spacing: 3px;
	position: relative;
	cursor: pointer;
	z-index: 1;
	margin-bottom:-1px;
}


/* Bolt grid */

/* search */

.bolt-search{
	width:10rem;
	height: 2rem;
	padding:0.3rem;
	color:$white;
	position:relative;
	top:0;
	@extend .right;
	>svg{
		color:$black;
		width: 100%;
		height: 10rem;
		position: absolute;
		top: -4.2rem;
		left: -0.8rem;
	}
	form{
	svg{
		position:absolute;
		left:0.3rem;
	}
	}

	input{
		position:absolute;
		width: 7rem;
		right: 1.3rem;
		background:transparent;
		border:none;
		outline: none;
		color:$white;
		font-family:$danielbld;
		padding:0.2rem 0;
		
	}
}

.bolt-search input::-webkit-search-cancel-button{
    -webkit-appearance: none;
		}

.bolt-search input::-moz-selection { /* Code for Firefox */
    color: $black;
    background: $white;
}

.bolt-search input::selection {
    color: $black; 
    background: $white;
}

.bolt-search input::-webkit-input-placeholder {
	color: $white;
}
.bolt-search input::-moz-placeholder {
	color: $white;
}
.bolt-search input:-ms-input-placeholder {  
	color: $white;
}


/* grid elements */

.bolt-grid{
	>h3{
		color:$white;
		display: table;
		padding:0 2rem;
		margin-bottom:2rem;
		margin-left:2rem;

	}
}

.bolt-grid-element{

    position: relative;
    padding: 2rem;
    @extend .left;
    cursor:pointer;
    width: 100%; 
    height: 20rem;
    text-align: center;
    letter-spacing: 1px;
		@include breakpoint(tabtop){
    		width: 50%; 
			width: -webkit-calc(100% / 2);
			width: calc(100% / 2);
		}
		@include breakpoint(tablet){
			height: 18rem;
		    width: 33%; 
			width: -webkit-calc(100% / 3);
			width: calc(100% / 3);
		}
		a{
			text-decoration:none;
		}
		h4{
			font-weight: 600;
			color:$black;
			font-size:80%;
			margin-top:0.5rem;
		}
		h5{
			color:$black;
			font-size:80%;

		}
		&:hover .svg-dropShadow{
			opacity: 0.5;
			@include scale(0.95);
		}
}
.bolt-grid-element-img{
	img{
		@extend .visuallyhidden;
	}
	
}

/* BOLT ITEM VIEW */

/* overlay close */

.bolt-item-close{
	width: 4rem;
	height: 4rem;
	position: fixed;
	right: 2rem;
	top: 2rem;
	cursor: pointer;
}

.bolt-item-view-container,
.checkout-container{
	width:100%;
	height: 100%;
	overflow:auto;
}

/* .bolt-item-view{
	.five{
		border:1px solid red;
		min-height: 600px;
	}
	.seven{
		border:1px solid red;
		min-height: 600px;
	}
	.twelve{
		border:1px solid red;
		min-height: 6000px;
	}
	.five, .seven{
		padding:1rem;
	}
} */



.bolt-item-view{
	padding:6rem 0;
	.seven{
		margin-top:5rem;
	}
	.five{
		@include breakpoint(tablet){
			  margin-right: -2.12766%;
			  padding:1rem;

		}
	}
}

.bolt-item-slider{
	padding:0 2rem 2rem 2rem;
	cursor:pointer;

	.slick-slide{
		position:relative;
		margin:0.5rem;
		img{
			@extend .visuallyhidden;
		}
	}
	.slick-prev, .slick-next{
		position:absolute;
		width: 3.5rem;
		height: 3.5rem;
		top:40%;
	}
	.slick-prev{
		left:-1.5rem;
	}
	.slick-next{
		right:-1.5rem;
	}
}
.bolt-item-slider-nav{
	cursor:pointer;
	/* display:none; */
/* 	@include breakpoint (tablet){
		display: block;
	} */
	.slick-slide{
		padding:1rem;
		position: relative;
		img{
			@extend .visuallyhidden;
		}
	}
}

.bolt-item-info{
	h4{
		font-weight: 600;
		font-size:120%;
		letter-spacing: 2px;
	}
	p{
		margin-top:0.5rem;
		a{
			font-weight: 400;
		}
		svg{
			margin-bottom: -0.1rem;
		}
	}
	h5{
		margin-bottom:2rem;
	}
	form{
		position: relative;
		margin-top:5rem;
	}
	button{
			line-height: 2rem;
			cursor: pointer;
			position: relative;
			/*background: $black;*/
			color: #fff;
			font-size: 70%;
			font-weight: bold;
			letter-spacing: 3px;
			padding:0 0.6rem;
			font-family: $danielbld;
			@extend .left;
			height:2rem;
			margin-left:2rem;
			background:transparent;
			border:none;
		}
}

.item-q{
	width: 5rem;
	height: 2rem;
	position: relative;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
	@extend .left;
	input{
		position:absolute;
		top:0;
		left:0;
		width: 3rem;
		height: 2rem;
		border:none;
		outline:none;
		font-family:$roboto;
		font-weight: 600;
		font-size: 100%;
		padding: 0 0.5rem;
		text-align:center;
		background:transparent;
	}

}
.item-q-up,
.item-q-down{
	position:absolute;
	right:0;
	width: 2rem;
	height: 1rem;
	cursor:pointer;
	svg{
		@include rotate(-90);
		color:$white;
		width: 2rem;
		display: block;
	}
}
.item-q-up{
	top:0;
}
.item-q-down{
	top:1rem;
}

/* Hasonl termékek */

.hasonlo-termekek{
	h3{
		text-transform: uppercase;
		margin:2rem;
		margin-bottom:0;
		font-size: 80%;
	}
}

.hasonlo-grid-element{

    position: relative;
    padding: 2rem;
    @extend .left;
    cursor:pointer;
    width: 100%; 
    height: 20rem;
    text-align: center;
    letter-spacing: 1px;
		@include breakpoint(tabtop){
    		width: 50%; 
			width: -webkit-calc(100% / 2);
			width: calc(100% / 2);
		}
		@include breakpoint(tablet){
			height: 18rem;
		    width: 25%; 
			width: -webkit-calc(100% / 4);
			width: calc(100% / 4);
		}
		a{
			text-decoration:none;
		}
		h4{
			font-weight: 600;
			color:$black;
			font-size:80%;
			margin-top:0.5rem;
		}
		h5{
			color:$black;
			font-size:80%;

		}
		&:hover .svg-dropShadow{
			opacity: 0.5;
			@include scale(0.95);
		}
}
.hasonlo-grid-element-img{
	img{
		@extend .visuallyhidden;
	}
	
}

/* korsárka */

.kosar,
.bolt-trigger{
	position:fixed;
	width: 4rem;
	height: 4rem;
	background:$black;
	color:$white;
	top:0;
	right:0;
	cursor:pointer;
}
.bolt-trigger{
	right:5rem;
}

/* CHECKOUT */

.checkout-closure,
.checkout-items{
/* 	border:1px solid coral; */
}

.checkout-container{
	form{
		margin:8rem 0;
	}
}

.checkout-item{
	width:100%;
	height: 6rem;
	position: relative;
	margin:1rem 0;

}
.checkout-item-img,
.checkout-item-details,
.checkout-item-remove{
	position: absolute;
	top:0;
}
.checkout-item-img{
	width: 6rem;
	height: 6rem;
	left:0;
	img{
		@extend .visuallyhidden;
	}
}
.checkout-item-details{
	width: calc(100% - 12rem);
	height: 100%;
	left:6rem;
	display:table;

	h3{	display:table-cell;
		margin:0 auto;
		padding:1rem;
		height:6rem;
		vertical-align: middle;
		line-height: 1.4;
		span{
			padding:0 0.5rem;
		}
	}
}
.checkout-item-remove{
	width: 6rem;
	height: 6rem;
	right:0;
	cursor:pointer;
	svg{
		fill:#fff;
		width: 3rem;
		height: 3rem;
		margin:1.5rem;
		@include rotate(8);
	}
}

.checkout-closure{
	.twelve{
		padding:1rem;
	}
	textarea{
		width: 100%;
		height: 7rem;
		resize: none;
		padding: 1rem 2rem;
		outline:none;
		border:none;
		background:transparent;
		position:relative;
		font-family:$danielbld;
		font-size:110%;
		margin-top:5px;
	}
	input{
		width: 100%;
		height: 2.5rem;
		padding:0 1rem;
		line-height: 2.5rem;
		outline:none;
		border:none;
		background:transparent;
		position:relative;
		font-family:$danielbld;
		font-size:90%;
		letter-spacing: 2px;

	}
}

/* custom placeholder color */
.checkout-closure input::-webkit-input-placeholder, .checkout-closure textarea::-webkit-input-placeholder {
	color:#aaa;
	font-family:$roboto;
	letter-spacing:3px;
	font-weight:600;
}
.checkout-closure input::-moz-placeholder, .checkout-closure textarea::-moz-placeholder {
	color:#aaa;
	font-family:$roboto;
	letter-spacing:3px;
	font-weight:600;
}
.checkout-closure input:-ms-input-placeholder, .checkout-closure textarea:-ms-input-placeholder {  
	color:#aaa;
	font-family:$roboto;
	letter-spacing:3px;
	font-weight:600;
}
.checkout-input-svg{
	position:relative;
}

.checkout-finish{
	button, div{
			line-height: 3rem;
			cursor: pointer;
			position: relative;
			color: #fff;
			font-size: 100%;
			font-weight: bold;
			letter-spacing: 3px;
			padding:0 1.5rem;
			height:3rem;
			background:transparent;
			border:none;
			outline:none;
			font-family: $roboto;
		}

}
.checkout-finish div{
	@extend .left;
}
.checkout-finish button{
	@extend .right;
}