.kert-container{
	padding-top:10rem;
}
.kert-spec{

.itallap{
	float:left !important;
	padding-top:0 !important;
	margin-bottom:5rem;
}

}

.rolunk-kert-kep{
	position:relative;
	img{
		display: none;
	}
}
.ehes-szomjas{
	display:table;
	margin:0 auto;
	font-family:$danielbld;
	font-size:120%;
}
.fold-list{
	li{
		p{
			width: 85%;
		}
		b{
			width: 10%;
		}
	}
}