.kert-spec{

.itallap{
	padding-top:0 !important;
}

}

.rolunk-kert-kep{
	position:relative;
	img{
		display: none;
	}
}
.ehes-szomjas{
	display:table;
	margin:0 auto;
	font-family:$danielreg;
	font-size:120%;
}