.no-pointing{
  pointer-events:none;
}
/*.hovInt div{
  @extend .no-pointing;
}*/
.info-black{
  display: none;
}
.landing-container{
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  @extend .paper-bg-darker;
    @include breakpoint(tablet){
    display: block;
  }
    header{
      background-color: transparent;
      display: none;
      /*height: 20rem;*/
      @include breakpoint(tablet){
        display: block;
        width: 93%;
        margin-top:4rem;
        z-index: 0;
      }
      .icon-logo{
        width: 7rem;
        height: 7rem;
        right: 0.5rem;
        top: 2rem;

        left:initial;
        @include breakpoint(bigscreen){
          width: 10rem;
          height: 10rem;
          right: 0.5rem;
          top: 0.5rem;
        }
      }
      .nav-info{
        top: 0.4rem;
        
        @include breakpoint(bigscreen){
        top:8.5rem;
        }
      }
      .langselect-container{

        width: 6rem;
        top:-1.5rem;
       /*  display: none; */
        height: 5.3rem;
        
        @include breakpoint(bigscreen){
          top:8.7rem;
          width: 5.3rem;
        }
      }
      .eng, .hun{
        margin:0;
        margin-top:2.1rem;
      }
      .lang-selected,
      .langselect-container .eng span{
        color:$black !important;
      }
      .info-black{
        display: block;
      }
      .info-white{
        display: none;
      }
    }
}

/* NEW logo */
.landing-logo-container{
      width: 140px;
      height: 170px;
      right: 90px;
      top: 0;
  .icon-logo{
      width: 8rem;
      height: 8rem;
      right: 0.5rem;
      top: 0.5rem;
  }
    .info-black{
      position: absolute;
      left: -0.7rem;
      bottom: -0.5rem;
      display: block;
      width: 4rem;
      height: 4rem;
      span{
        display: none;
      }
      svg{
        width: 100%;
        height: 100%;
      }
    }

.langselect{
  top:6.8rem;
  width: 4.7rem;
  height: 4.7rem;
  display: block;

}
.langselect-container{
  width: 4.5rem;
  right:1rem;
  height: 2.5rem;
  bottom: 0;
}
.lang-selected{
  color:$white !important;
}
  .eng, .hun{
    top:8.6rem!important;
    font-size:75% !important;
    margin:0 !important;

  }
  .eng{
    span{
      display: none;
    }
  }
}





.barkas-container{
  height: auto;
  width: 400px;
  position: absolute;
  bottom: 0;
  right:0;
/*  pointer-events:none;
*/  @include breakpoint(laptop){
   /* right: 2rem;*/
    bottom: 2rem;
  }
}
.barkas{
  width: 400px;
  min-height:272px;
  position: absolute;
  right: 0;
  bottom: 0;
  left:120px;
  top:auto !important;
  cursor: pointer;

  ul{
   /* z-index: -1;*/
    @include perspective(400px);
      li{
        padding: 1rem;
        height: 3rem;
        width:97.5%;
        margin:-3px 1.25%;
        a{
        text-decoration: none;
        color:$black;
        position: relative;
        padding:0.4rem;
        &:hover{
          color:$darkgray;
        }
        &:after{
          content:"";
          position: absolute;
          width: 16px;
          height: 16px;
          @extend .has-sprite;
          background-position: 0 -60px;
          margin-top:7px;
        }
        }

      }
    li:nth-child(odd){
      /*@extend .paper-bg;*/
      background-color: #eee;
      }
    li:nth-child(even){
      /*@extend .paper-bg-darker;*/
      background-color: #ddd;
      }
  }
}
.barkas-open{
  margin-bottom:0rem !important;
  li{
      &:last-of-type{
        margin-bottom:-5px !important;
      }
    }
}
.barkas-top{
  width: 400px;
  height: 177px;
@extend .has-sprite;
background-position: -519px 0;

}

.barkas-bottom{
  width: 400px;
  height: 95px;
@extend .has-sprite;
background-position: -519px -177px;
  margin-bottom: 3px;
}

.barkas-cover{
position: absolute;
bottom: 0;
z-index: 999;

}


.illustration-container{
  @extend .has-sprite;
  background-position: -919px 0;
  @include abs-pos(0,0,0,0);
  width: 986px;
  height: 489px;
  margin:auto;
  @include perspective(1000px);
  >div{
    position: absolute;
  }

}
.allo{
/*box-shadow:0 0 20px rgba(0,0,0,.4) !important;*/
}
div[class^="delic-"],
div[class^="kert-"],
div[class^="vend-"],
div[class^="apartman-"]
{
  position: absolute;
}
.hoverEffect{
  @include transform-origin(bottom);
}
.vendeglo{
    left:0;
    bottom:0;
    width: 495px;
    height: 296px;

  .vend-fa{
    top:-50px;
    left:220px;
    width: 146px;
    height: 240px;
     @extend .has-sprite;
     background-position: -519px -272px;
    
  }

  .vend-front{
    width: 495px;
    height: 296px;
    bottom:0;
    left:0;
    @include transform-origin(bottom);

     .vend-front-front{
     @extend .has-sprite;
     background-position: 0 -596px;
     width: 100%;
      height: 100%;
      position: absolute;
      bottom:0;
     }
  }
  .vend-kerites-front-left{
    width: 129px;
    height: 96px;
    @extend .has-sprite;
    background-position: -665px -272px;
    right: -125px;
    bottom: 0;
  }

}

div[class^="vend-emberke"]{
  width: 50px;
  height: 70px;
  @extend .has-sprite;
}

.vend-emberke1{
  left:28px;
  top: 94px;
  background-position: -380px -520px; 
}
.vend-emberke2{
  left:180px;
  top: 94px;
  background-position: -480px -520px; 
}
.vend-emberke3{
  left:405px;
  top: 94px;
  background-position: -580px -520px;
}
.vend-emberke4{
  left:105px;
  top: 183px;
  background-position: -680px -510px;
}
.vend-emberke5{
  left:251px;
  top: 183px;
  background-position: -780px -520px;
}

.vend-kihuzo{
  width:180px;
  height:210px;
  @extend .has-sprite;
  background-position:-495px -596px;
  right: 8px;
  top:2rem;
  z-index:-1 !important;
    nav{
        position: absolute;
        height: 100%;
        width: 100%;
        padding:1.2rem 2rem;
        a{
          text-decoration: none;
          color:#444;
          &:hover{
            color:#999;
          }
        }
    }
    li{
      height:24px;
      width: 100%;
      text-align: right;
      font-size: 88%;
      color:$darkgray;
      &:hover{
        color:$black;
      }
    }
}
.vend-kihuzo-ful{
  width: 140px;
  height: 140px;
  @extend .has-sprite;
  background-position: -675px -633px;
  position: absolute;
  right:-140px;
  top:37px;
    .icon{
      width: 100px;
      height: 100px;
      margin-left: 32px;
      margin-top:10px;
    }
}
.delicates{
    top:0;
    width:287px;
    height: 450px;

    .delic-side{
    left: 0;
    top:0;
    width: 287px;
    height: 440px;
    @extend .has-sprite;
    background-position: -831px -521px;
    }
    .delic-kemeny{
      bottom: 125px;
      left: 10px;
      width: 69px;
      height: 305px;
     
    }
    .delic-kemeny-kemeny{
      width: 69px;
      height: 305px;
      @extend .has-sprite;
      background-position: -1118px -521px;
    }

    .delic-kihuzo{
      width:200px;
      height:140px;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      @extend .has-sprite;
      background-position: -495px -826px;
      left: 90px;
      top:70px;
      @include transform-origin(left center);
        nav{
            position: absolute;
            height: 100%;
            width: 100%;
            padding: 2rem 1rem 1rem 5rem;
            ul{
                text-align:center;
            }
            a{
              text-decoration: none;
              font-size: 120%;
              color:#444;

              &:hover{
                color:#999;
              }
            }
        }
        li{
          height:24px;
          width: 100%;
          text-align: right;
          font-size: 70%;
          color:$darkgray;
          &:hover{
            color:$black;
          }
        }
    }
    .delic-kihuzo-ful{
      width: 103px;
      height: 100px;
      position: absolute;
      left:50px;
      top:0;
      @extend .has-sprite;
      background-position: -696px -817px;
        .icon{
          width: 90px;
          height: 90px;
          margin-left: 15px;
          margin-top: -7px;
        }
    }

    .delic-front{
      left: 0;
      bottom:0;
      width: 160px;
      height: 340px;
      @extend .has-sprite;
      background-position: -1187px -521px;
      pointer-events:none;
    }
    .delic-fogaskerek{
      width: 121px;
      height: 121px;
      top:160px;
      left: -30px;
      @include transform-origin(center);
      @extend .has-sprite;
      background-position:-675px -368px;
    }
}


.apartman{
  top:-3px;
    width: 351px;
    height: 238px;
    left:215px;
  .apartman-front{
    @extend .has-sprite;
    background-position:-1347px -521px;
    width: 351px;
    height: 88px;
  }
  .apartman-front-left{
    width: 351px;
    height: 238px;
    pointer-events:none;
    @extend .has-sprite;
    background-position:-1347px -608px;
  }
  div[class^="apartman-emberke"]{
    @extend .has-sprite;
  }
  .apartman-emberke1{

    background-position: -28px 0;
    background-position: -1725px -521px;
    left: 267px;
    top:17px;
    width: 50px;
    height: 50px;
  }
  .apartman-emberke2{
    background-position: -76px 6px;
    background-position: -1773px -515px;
    left:262px;
    top:121px;
    width: 70px;
    height: 70px;

  }
  .apartman-emberke3{
    width: 55px;
    height: 55px;
    left: 85px;
    top: 130px;
    background-position: -144px -2px;
    background-position: -1841px -523px;
  }


  .apartman-kihuzo-container{
    width: 166px;
    height: 166px;
    @include transform-origin(center);
    left: 8px;
    top: 0;
  }
  .apartman-kihuzo{
    width: 130px;
    height: 236px;
    top: 0;
    left:80px;
    @extend .has-sprite;
    background-position: -1697px -641px;
      nav{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 1rem;
          top: 5.5rem;
        a{
          text-decoration: none;
          color:#444;
          font-size: 80%;
          &:hover{
            color:#999;
          }
        }
    }
    li{
      height:20px;
      width: 100%;
      text-align: center;
      font-size: 100%;
      color:$darkgray;
      &:hover{
        color:$black;
      }
    }
  }
.apartman-kihuzo-ful{
  width: 90px;
  height: 90px;
  left:132px;
  top: 10px;
    .icon{
      width: 80px;
      height: 80px;
      margin-left: -130px;
      margin-top:-10px;
    }

}

}

.kert{
   width: 300px;
   height: 250px;
  right: 100px;
  bottom:50px;

  .kert-fa-villa{
    width: 163px;
    height: 278px;
   @extend .has-sprite;
   background-position:0 -892px;
    top: -180px;
    left: -50px;
  }
  .kert-kerites-side{
    width: 119px;
    height: 258px;
   @extend .has-sprite;
   background-position:-163px -892px;
    right: -104px;
    bottom: -30px;

  }
  .kert-kerites-top{
    width: 335px;
    height: 87px;
   @extend .has-sprite;
   background-position:-1240px -860px;
    top: 15px;
    right: 0;
  }
  .kert-bokor-sima{
    width: 121px;
    height: 105px; 
   @extend .has-sprite;
   background-position:-796px -368px;
    left: -40px;
    top: 5px;
  }
  .kert-bokor-vodor{
    width: 90px;
    height: 118px;
   @extend .has-sprite;
   background-position:-1697px -992px;
    right: 0px;
    top: 10px;
  }
  .kert-bokor-sima2{
    width: 98px;
    height: 85px;
   @extend .has-sprite;
   background-position:-796px -272px;
    right: -36px;
    bottom: 3px;
  }
  .kert-kerites-front-right{
    width: 252px;
    height: 96px;
   @extend .has-sprite;
   background-position:-1637px -872px;
    bottom: -45px;
    right: -106px;
  }

  .kert-viragok{
    width: 400px;
    height: 156px;
    right: -99px;
    bottom: -40px;
  }
  .kert-kihuzo-cover{
    width: 230px;
    height: 166px;
    left: 30px;
    box-shadow: 0 -10px 10px -10px rgba(0,0,0,0.5);
    @extend .has-sprite;
    background-position: -1534px -323px;
  }
.kert-emberek-cover{
  width: 400px;
  height: 110px;
  @extend .has-sprite;
  background-position: -1204px -375px; 
  bottom: -6px;
  right: 300px;
  pointer-events:none;
  box-shadow: 0 -10px 10px -10px rgba(0,0,0,0.5);

}

.kert-emberek{
  width: 240px;
  height: 260px;
  bottom:15px;
  right: 380px;
  pointer-events:none;
}
.kert-asztal{
  width: 80px;
  height: 141px;
  @extend .has-sprite;
  background-position: -449px -970px; 
  bottom:80px;
  left:75px;
  @include transform-origin(bottom);
}
.kert-fiu,
.kert-lany{
  height: 100px;
  width: 167px;
  bottom:-20px;
}
.kert-fiu{
  @extend .has-sprite;
  background-position: -282px -892px; 
  left:-70px;
  @include transform-origin(top right);

}
.kert-lany{
  @extend .has-sprite;
  background-position: -282px -992px; 
  right: -70px;
  @include transform-origin(top left);

}

div[class^="kert-kisvirag"]{
  width: 55px;
  height: 110px;
/*   background-image:url(../img/kert_kisviragok.png); */
  @extend .has-sprite;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
  &:after{
    content: "";
    position: absolute;
    bottom:-12px;
    height: 25px;
    width: 100%;
    background-image:url(../img/vagas.png);
    background-size:contain;
    background-repeat:no-repeat;
  }
}
.kert-kisvirag1{
  right: 162px;
  bottom:77px;
  background-position:-1007px -950px;
}
.kert-kisvirag2{
  right: 300px;
  bottom:50px;
  background-position: -55px 125px;
  background-position:-1062px -950px;
}
.kert-kisvirag3{
  right: 304px;
  bottom:73px;
  background-position: -110px 125px;
  background-position: -1117px -950px;
}
.kert-kisvirag4{
  right: 340px;
  bottom:140px;
  
  background-position: -389px 125px;
  background-position: -1172px -950px;
}
.kert-kisvirag5{
  right: 391px;
  bottom: 44px;
  background-position: -220px 125px;
  background-position: -1227px -950px;
}
.kert-kisvirag6{
  right: 600px;
  bottom:25px;
  background-position: -275px 125px;
  background-position: -1282px -950px;
}
.kert-kisvirag7{
  right: 504px;
  bottom:45px;
  background-position: -330px 125px;
  background-position: -1337px -950px;
}
.kert-kisvirag8{
  right: 470px;
  bottom:220px;
  background-position: -165px 125px;
  background-position: -1172px -950px;

}
.kert-kisvirag9{
  right: 567px;
  bottom:134px;
  background-position: -440px 125px;
  background-position: -1447px -950px;
}
.kert-kisvirag10{
  right: 618px;
  bottom:175px;
  background-position: -495px 125px;
  background-position: -1502px -950px;
}
.kert-kisvirag11{
  right: 630px;
  bottom:66px;
  background-position: -550px 125px;
  background-position: -1557px -950px;
}


.kert-kihuzo{
  width: 187px;
  height: 160px;
  top: 0;
  left: 50px;
  @extend .has-sprite;
  background-position:-798px -806px;
      nav{
        position: absolute;
        height: 100%;
        width: 100%;
          padding:1.1rem 2rem;
          font-size: 80%;
        a{
          text-decoration: none;
          color:#444;
          &:hover{
            color:#999;
          }
        }
    }
    li{
      height:24px;
      width: 100%;
      text-align: center;
      font-size: 100%;
      color:$darkgray;
      &:hover{
        color:$black;
      }
    }
}

.kert-kihuzo-ful{

  width: 117px;
  height: 130px;
  @extend .has-sprite;
  background-position:-830px -676px;
  position: absolute;
  top: -130px;
  left: 43px;

    .icon{
      width: 100px;
      height: 100px;
      margin-left: 10px;
      margin-top:5px;
    }

}

}


/*MOBILE*/

.mobile-landing-container{
  width: 100%;
  position: relative;
  overflow:hidden;
  background-image:url(../img/mob_landing-bg.png);
  @include breakpoint(tablet){
    display: none;
  }
  div[class^="mobile-"]{
    position: absolute;
    overflow: visible;
    ul{
      position: absolute;
      a{
        text-decoration: none;
        color:#555;
      }
    }
  }
}
.mobile-deliapart{
  top: 1%;
  @include breakpoint(tabtop){
    top:10%;
  }
}
.mobile-apartman{
  width: 391px;
  height: 158px;
  background-image:url(../img/mob_apartman.png);
  top: 12px;
  left:-95px;
      ul{
  width: 110px;
  height: 100px;
  top: 40px;
  left: 82px;
  }
  @include breakpoint(mobile){
  }
}
.mobile-kerites{
  width: 281px;
  height: 76px;
  background-image:url(../img/mob_kerites.png);
  bottom: 0;
  right: -275px;
}
.mobile-villafa{
  width:125px ;
  height: 214px;
  background-image:url(../img/mob_villafa.png);
  right: -6%;
  top: 0;
  pointer-events: none;
  @include breakpoint(moblet){
    right: 10%;
  }
  @include breakpoint(tabtop){
    right:30%;
    top:6%;
  }
}
.mobile-kert{
  width:349px ;
  height: 240px;
  background-image:url(../img/mob_kert.png);
  right: -264px;
  top: 26%;
    ul{
  width: 150px;
  height: 150px;
  top: 50px;
  right: 45px;
  }
}
.mobile-delicates{
  width:427px;
  height:320px ;
  background-image:url(../img/mob_delicates.png);
  top: 0;
  left:-273px;
    ul{
  width: 150px;
  height: 120px;
  bottom: 37px;
  left: 125px;
  }
  @include breakpoint(mobile){
   
  }
}
.mobile-vendeglo{
  width:364px;
  height:463px;
  background-image:url(../img/mob_vendeglo.png);
  bottom: -260px;
  left: -80px;
  ul{
  width: 150px;
  height: 200px;
  bottom: 37px;
  right: 85px;
  }
}
.mobile-sugo{
  bottom: 0;
  right: 0;
  right:-300px;
  width: 206px;
  height: 97px;
}

.mobile-sugo-bubble{
  width: 170px;
  height: 156px;
  background-image:url(../img/mob_sugo-bubble.png);
  top: -160px;
  padding: 2rem 1rem;
  text-align: center;
  @include scale(0);
  @include transition(0.5s cubic-bezier(.6,0,.48,1.31));
}
.mobile-barkas{
    bottom: 0;
    right:0;
    width: 206px;
    height: 97px;
    background-image:url(../img/mob_barkas.png);
}
.mobile-sugo-trigger{
  width: 49px;
  height: 46px;
  background-image:url(../img/mob_sugo-trigger.png);
  bottom:1rem;
  right: 1rem;
  cursor: pointer;
}
.kamufos{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:-1;
}