.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

#icon-nemeheto .path1, #icon-nemeheto .path21 {
	fill: rgb(99, 181, 206);
}
#icon-nemeheto .path2, #icon-nemeheto .path3, #icon-nemeheto .path4, #icon-nemeheto .path5, #icon-nemeheto .path6, #icon-nemeheto .path22 {
	fill: rgb(24, 108, 155);
}
#icon-nemeheto .path7 {
	fill: rgb(255, 255, 255);
}
#icon-nemeheto .path8 {
	fill: rgb(221, 153, 0);
}
#icon-nemeheto .path9 {
	fill: rgb(244, 187, 71);
}
#icon-nemeheto .path10, #icon-nemeheto .path11, #icon-nemeheto .path12, #icon-nemeheto .path13, #icon-nemeheto .path14, #icon-nemeheto .path15, #icon-nemeheto .path16, #icon-nemeheto .path17, #icon-nemeheto .path18 {
	fill: rgb(219, 28, 36);
}
#icon-nemeheto .path19 {
	fill: rgb(183, 125, 9);
}
#icon-nemeheto .path20 {
	fill: rgb(101, 182, 190);
}

#icon-eheto .path1, #icon-eheto .path9 {
	fill: rgb(233, 158, 59);
}
#icon-eheto .path2, #icon-eheto .path3, #icon-eheto .path4, #icon-eheto .path5, #icon-eheto .path6 {
	fill: rgb(223, 90, 36);
}
#icon-eheto .path7, #icon-eheto .path10 {
	fill: rgb(180, 138, 109);
}
#icon-eheto .path8 {
	fill: rgb(128, 54, 20);
}
#icon-eheto .path11 {
	fill: rgb(191, 158, 136);
}

#icon-ihato .path1, #icon-ihato .path7, #icon-ihato .path14 {
	fill: rgb(175, 140, 196);
}
#icon-ihato .path2 {
	fill: rgb(101, 182, 190);
}
#icon-ihato .path3, #icon-ihato .path4, #icon-ihato .path5, #icon-ihato .path6, #icon-ihato .path8 {
	fill: rgb(121, 95, 134);
}
#icon-ihato .path9, #icon-ihato .path11, #icon-ihato .path13 {
	fill: rgb(244, 187, 71);
}
#icon-ihato .path10 {
	fill: rgb(219, 28, 36);
}
#icon-ihato .path12 {
	fill: rgb(221, 153, 0);
}


#icon-marker-logo .path1, #icon-marker-logo .path3, #icon-marker-logo .path4, #icon-marker-logo .path5, #icon-marker-logo .path6, #icon-marker-logo .path7, #icon-marker-logo .path8, #icon-marker-logo .path9, #icon-marker-logo .path10, #icon-marker-logo .path11 {
	fill: rgb(0, 0, 0);
}
#icon-marker-logo .path2 {
	fill: rgb(255, 255, 255);
}


#icon-logo .path1, #icon-logo .path3, #icon-logo .path4, #icon-logo .path5, #icon-logo .path6, #icon-logo .path7, #icon-logo .path8, #icon-logo .path9, #icon-logo .path10, #icon-logo .path11 {
	fill: rgb(0, 0, 0);
}
#icon-logo .path2, #icon-logo .path12, #icon-logo .path13, #icon-logo .path14, #icon-logo .path15, #icon-logo .path16, #icon-logo .path17, #icon-logo .path18, #icon-logo .path19, #icon-logo .path20, #icon-logo .path21, #icon-logo .path22, #icon-logo .path23, #icon-logo .path24, #icon-logo .path25, #icon-logo .path26, #icon-logo .path27 {
	fill: rgb(255, 255, 255);
}

#icon-vendeglo .path1, #icon-vendeglo .path2, #icon-vendeglo .path3, #icon-vendeglo .path4 {
	fill: rgb(0, 0, 0);
}
#icon-vendeglo .path5, #icon-vendeglo .path6, #icon-vendeglo .path7, #icon-vendeglo .path8, #icon-vendeglo .path9, #icon-vendeglo .path10, #icon-vendeglo .path11, #icon-vendeglo .path12 {
	fill: rgb(255, 255, 255);
}


#icon-apartman .path1, #icon-apartman .path2, #icon-apartman .path11, #icon-apartman .path12 {
	fill: rgb(0, 0, 0);
}
#icon-apartman .path3, #icon-apartman .path4, #icon-apartman .path5, #icon-apartman .path6, #icon-apartman .path7, #icon-apartman .path8, #icon-apartman .path9, #icon-apartman .path10 {
	fill: rgb(255, 255, 255);
}

#icon-delicates .path1, #icon-delicates .path2, #icon-delicates .path3, #icon-delicates .path4, #icon-delicates .path5 {
	fill: rgb(0, 0, 0);
}
#icon-delicates .path6, #icon-delicates .path7, #icon-delicates .path8, #icon-delicates .path9, #icon-delicates .path10, #icon-delicates .path11, #icon-delicates .path12, #icon-delicates .path13, #icon-delicates .path14 {
	fill: rgb(255, 255, 255);
}

/*info-bg*/
#icon-info .path1 {
	fill: rgb(255, 255, 255);
}
/*info-szöveg*/
#icon-info .path2, #icon-info .path3, #icon-info .path4, #icon-info .path5 {
	fill: rgb(0, 0, 0);
}

/*info-bg*/
#icon-info-black .path1 {
	
	fill: rgb(0, 0, 0);
}
/*info-szöveg*/
#icon-info-black .path2, #icon-info-black .path3, #icon-info-black .path4, #icon-info-black .path5 {
	fill: rgb(255, 255, 255);
}

#icon-kert .path1, #icon-kert .path2, #icon-kert .path3, #icon-kert .path4, #icon-kert .path5, #icon-kert .path6, #icon-kert .path7, #icon-kert .path8, #icon-kert .path9, #icon-kert .path10, #icon-kert .path11, #icon-kert .path12, #icon-kert .path13 {
	fill: rgb(0, 0, 0);
}
#icon-kert .path14, #icon-kert .path15, #icon-kert .path16, #icon-kert .path17 {
	fill: rgb(255, 255, 255);
}





/* #icon-lang-select .hun {
	fill: rgb(255,0,0);
	cursor: pointer;
}

#icon-lang-select .eng {
	fill: rgb(138, 138, 138);
	cursor: pointer;
} */
/* langselect sima */
/*lang-bg*/
#icon-lang-select .path1 {
	fill: rgb(0, 0, 0);
	fill:#fff;
}
/*perjel*/
#icon-lang-select .path2{
	fill: rgb(0, 0, 0);
}


/* langselect black */
/*lang-bg*/
#icon-lang-select-black .path1 {
	fill: rgb(0, 0, 0);
}
/*perjel*/
#icon-lang-select-black .path2{
	fill: rgb(0, 0, 0);
}

#icon-logo .path1, #icon-logo .path12, #icon-logo .path13, #icon-logo .path14, #icon-logo .path15, #icon-logo .path16, #icon-logo .path17, #icon-logo .path18, #icon-logo .path19, #icon-logo .path20, #icon-logo .path21, #icon-logo .path22, #icon-logo .path23 {
	fill: rgb(0, 0, 0);
}
#icon-logo .path2, #icon-logo .path3, #icon-logo .path4, #icon-logo .path5, #icon-logo .path6, #icon-logo .path7, #icon-logo .path8, #icon-logo .path9, #icon-logo .path10, #icon-logo .path11, #icon-logo .path24, #icon-logo .path25, #icon-logo .path26, #icon-logo .path27, #icon-logo .path28, #icon-logo .path29, #icon-logo .path30, #icon-logo .path31, #icon-logo .path32 {
	fill: rgb(255, 255, 255);
}

#icon-logo_barna .path1, #icon-logo_barna .path12, #icon-logo_barna .path13, #icon-logo_barna .path14, #icon-logo_barna .path15, #icon-logo_barna .path16, #icon-logo_barna .path17, #icon-logo_barna .path18, #icon-logo_barna .path19, #icon-logo_barna .path20, #icon-logo_barna .path21, #icon-logo_barna .path22, #icon-logo_barna .path23 {
	fill: rgb(100, 84, 56);
}
#icon-logo_barna .path2, #icon-logo_barna .path3, #icon-logo_barna .path4, #icon-logo_barna .path5, #icon-logo_barna .path6, #icon-logo_barna .path7, #icon-logo_barna .path8, #icon-logo_barna .path9, #icon-logo_barna .path10, #icon-logo_barna .path11, #icon-logo_barna .path24, #icon-logo_barna .path25, #icon-logo_barna .path26, #icon-logo_barna .path27, #icon-logo_barna .path28, #icon-logo_barna .path29, #icon-logo_barna .path30, #icon-logo_barna .path31, #icon-logo_barna .path32 {
	fill: rgb(255, 255, 255);
}

#icon-swipe .path1, #icon-swipe .path2 {
	fill: rgb(0, 0, 0);
}
#icon-swipe .path3, #icon-swipe .path4, #icon-swipe .path5 {
	fill: rgb(255, 255, 255);
}

#icon-trip-original .path1 {
	fill: rgb(238, 201, 110);
}
#icon-trip-original .path2 {
	fill: rgb(164, 39, 33);
}
#icon-trip-original .path3, #icon-trip-original .path5, #icon-trip-original .path6, #icon-trip-original .path7 {
	fill: rgb(0, 0, 0);
}
#icon-trip-original .path4 {
	fill: rgb(55, 141, 70);
}

#icon-vendeglo .path1, #icon-vendeglo .path2, #icon-vendeglo .path3, #icon-vendeglo .path4 {
	fill: rgb(0, 0, 0);
}
#icon-vendeglo .path5, #icon-vendeglo .path6, #icon-vendeglo .path7, #icon-vendeglo .path8, #icon-vendeglo .path9, #icon-vendeglo .path10, #icon-vendeglo .path11, #icon-vendeglo .path12 {
	fill: rgb(255, 255, 255);
}